/* Desktop_1540 */

position: relative;
width: 1540px;
height: 1800px;

/* Background/Dark/Black-Rock

For ultimate contrast in pages and sections backgrounds
*/
background: #000000;


/* Spirital-03 */

position: absolute;
width: 1112px;
height: 1112px;
left: 1451px;
top: 608px;

transform: rotate(-180deg);


/* Vector */

position: absolute;
left: 76.21%;
right: -35.62%;
top: 61.52%;
bottom: -20.95%;

/* Gradients/dark-bg/JetBrains */
background: linear-gradient(0deg, rgba(99, 27, 243, 0) 0%, rgba(235, 48, 255, 0.3) 40%, #FF408F 70%, #FF9419 100%);
transform: matrix(-0.44, -0.9, -0.9, 0.44, 0, 0);


/* Vector */

position: absolute;
left: 80.87%;
right: -31.65%;
top: 60.61%;
bottom: -11.4%;

/* Gradients/dark-bg/JetBrains */
background: linear-gradient(0deg, rgba(99, 27, 243, 0) 0%, rgba(235, 48, 255, 0.3) 40%, #FF408F 70%, #FF9419 100%);
transform: matrix(-0.6, -0.8, -0.8, 0.6, 0, 0);


/* Vector */

position: absolute;
left: 84.63%;
right: -28.04%;
top: 59.08%;
bottom: -2.49%;

/* Gradients/dark-bg/JetBrains */
background: linear-gradient(0deg, rgba(99, 27, 243, 0) 0%, rgba(235, 48, 255, 0.3) 40%, #FF408F 70%, #FF9419 100%);
transform: matrix(-0.74, -0.67, -0.67, 0.74, 0, 0);


/* Vector */

position: absolute;
left: 87.53%;
right: -24.64%;
top: 57.19%;
bottom: 5.71%;

/* Gradients/dark-bg/JetBrains */
background: linear-gradient(0deg, rgba(99, 27, 243, 0) 0%, rgba(235, 48, 255, 0.3) 40%, #FF408F 70%, #FF9419 100%);
transform: matrix(-0.86, -0.51, -0.52, 0.86, 0, 0);


/* Vector */

position: absolute;
left: 89.66%;
right: -21.38%;
top: 55.13%;
bottom: 13.17%;

/* Gradients/dark-bg/JetBrains */
background: linear-gradient(0deg, rgba(99, 27, 243, 0) 0%, rgba(235, 48, 255, 0.3) 40%, #FF408F 70%, #FF9419 100%);
transform: matrix(-0.94, -0.34, -0.34, 0.94, 0, 0);


/* Vector */

position: absolute;
left: 91.11%;
right: -18.22%;
top: 53.05%;
bottom: 19.85%;

/* Gradients/dark-bg/JetBrains */
background: linear-gradient(0deg, rgba(99, 27, 243, 0) 0%, rgba(235, 48, 255, 0.3) 40%, #FF408F 70%, #FF9419 100%);
transform: matrix(-0.99, -0.16, -0.16, 0.99, 0, 0);


/* Vector */

position: absolute;
left: 91.98%;
right: -15.16%;
top: 51.08%;
bottom: 25.77%;

/* Gradients/dark-bg/JetBrains */
background: linear-gradient(0deg, rgba(99, 27, 243, 0) 0%, rgba(235, 48, 255, 0.3) 40%, #FF408F 70%, #FF9419 100%);
transform: matrix(-1, 0.03, 0.03, 1, 0, 0);


/* Vector */

position: absolute;
left: 91.98%;
right: -11.78%;
top: 49.02%;
bottom: 31.19%;

/* Gradients/dark-bg/JetBrains */
background: linear-gradient(0deg, rgba(99, 27, 243, 0) 0%, rgba(235, 48, 255, 0.3) 40%, #FF408F 70%, #FF9419 100%);
transform: matrix(-0.97, 0.26, 0.26, 0.97, 0, 0);


/* Vector */

position: absolute;
left: 92.45%;
right: -9.37%;
top: 47.69%;
bottom: 35.39%;

/* Gradients/dark-bg/JetBrains */
background: linear-gradient(0deg, rgba(99, 27, 243, 0) 0%, rgba(235, 48, 255, 0.3) 40%, #FF408F 70%, #FF9419 100%);
transform: matrix(-0.91, 0.41, 0.41, 0.91, 0, 0);


/* Vector */

position: absolute;
left: 92.24%;
right: -6.7%;
top: 46.36%;
bottom: 39.18%;

/* Gradients/dark-bg/JetBrains */
background: linear-gradient(0deg, rgba(99, 27, 243, 0) 0%, rgba(235, 48, 255, 0.3) 40%, #FF408F 70%, #FF9419 100%);
transform: matrix(-0.82, 0.57, 0.57, 0.82, 0, 0);


/* Vector */

position: absolute;
left: 91.84%;
right: -4.2%;
top: 45.28%;
bottom: 42.36%;

/* Gradients/dark-bg/JetBrains */
background: linear-gradient(0deg, rgba(99, 27, 243, 0) 0%, rgba(235, 48, 255, 0.3) 40%, #FF408F 70%, #FF9419 100%);
transform: matrix(-0.69, 0.72, 0.72, 0.69, 0, 0);


/* Vector */

position: absolute;
left: 91.33%;
right: -1.89%;
top: 44.43%;
bottom: 45%;

/* Gradients/dark-bg/JetBrains */
background: linear-gradient(0deg, rgba(99, 27, 243, 0) 0%, rgba(235, 48, 255, 0.3) 40%, #FF408F 70%, #FF9419 100%);
transform: matrix(-0.54, 0.84, 0.84, 0.54, 0, 0);


/* Vector */

position: absolute;
left: 90.76%;
right: 0.21%;
top: 43.81%;
bottom: 47.16%;

/* Gradients/dark-bg/JetBrains */
background: linear-gradient(0deg, rgba(99, 27, 243, 0) 0%, rgba(235, 48, 255, 0.3) 40%, #FF408F 70%, #FF9419 100%);
transform: matrix(-0.37, 0.93, 0.93, 0.37, 0, 0);


/* Vector */

position: absolute;
left: 90.19%;
right: 2.1%;
top: 43.37%;
bottom: 48.91%;

/* Gradients/dark-bg/JetBrains */
background: linear-gradient(0deg, rgba(99, 27, 243, 0) 0%, rgba(235, 48, 255, 0.3) 40%, #FF408F 70%, #FF9419 100%);
transform: matrix(-0.19, 0.98, 0.98, 0.19, 0, 0);


/* Vector */

position: absolute;
left: 89.68%;
right: 3.68%;
top: 43.08%;
bottom: 50.41%;

/* Gradients/dark-bg/JetBrains */
background: linear-gradient(0deg, rgba(99, 27, 243, 0) 0%, rgba(235, 48, 255, 0.3) 40%, #FF408F 70%, #FF9419 100%);
transform: matrix(0, 1, 1, 0, 0, 0);


/* IT Salary  Calculator */

position: absolute;
width: 1028px;
height: 144px;
left: 150px;
top: 168px;

/* Hero */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 600;
font-size: 72px;
line-height: 72px;
/* or 100% */
letter-spacing: -0.36px;
font-feature-settings: 'ss20' on;

/* Text&Icon/Dark/White (Hard) */
color: #FFFFFF;



/* Use our calculator to estimate your income potential based on software developer skills, programming language, location, and experience. */

position: absolute;
width: 604px;
height: 156px;
left: 150px;
top: 500px;

/* Sub2 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 300;
font-size: 29px;
line-height: 39px;
/* or 134% */
font-feature-settings: 'ss20' on;

/* Text&Icon/Dark/White (Hard) */
color: #FFFFFF;



/* Frame 7225 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 24px 96px;
gap: 8px;

position: absolute;
width: 392px;
height: 236px;
left: 150px;
top: 752px;

background: linear-gradient(180deg, #6B57FF 0%, rgba(107, 87, 255, 0) 100%);
border-radius: 24px 24px 0px 0px;


/* Frame 7223 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 344px;
height: 116px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* 1 */

width: 344px;
height: 44px;

/* Digits 2 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 44px;
/* identical to box height, or 110% */
letter-spacing: -0.2px;
font-feature-settings: 'tnum' on, 'lnum' on;

/* Text&Icon/Dark/White (Hard) */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Enter your programming language, and country. */

width: 344px;
height: 56px;

/* Text 1 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* or 140% */
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

/* Text&Icon/Dark/White (Hard) */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 7226 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px 24px 96px;
gap: 8px;

position: absolute;
width: 816px;
height: 236px;
left: 574px;
top: 752px;

background: linear-gradient(180deg, #6B57FF 0%, rgba(107, 87, 255, 0) 100%);
border-radius: 24px 24px 0px 0px;


/* Frame 7223 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 16px;

width: 281px;
height: 116px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* 2 */

width: 281px;
height: 44px;

/* Digits 2 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 300;
font-size: 40px;
line-height: 44px;
/* identical to box height, or 110% */
letter-spacing: -0.2px;
font-feature-settings: 'tnum' on, 'lnum' on;

/* Text&Icon/Dark/White (Hard) */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Calculate the salary range based on your parameters. */

width: 281px;
height: 56px;

/* Text 1 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* or 140% */
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

/* Text&Icon/Dark/White (Hard) */
color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 4788 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 24px;

position: absolute;
width: 392px;
height: 216px;
left: 150px;
top: 940px;

/* Background/Dark/Black */
background: #19191C;
border-radius: 24px;


/* Input */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 344px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* .Source/Input */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 344px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 344px;
height: 24px;

/* Text 2 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.024px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input body */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 344px;
height: 40px;

background: #303033;
border: 1px solid rgba(255, 255, 255, 0.3);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* left-icon box */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 0px;
gap: 10px;

display: none;
width: 24px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* .Input text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 0px;
gap: 10px;

width: 296px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Input text content */

width: 75px;
height: 24px;

/* Text 2 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.024px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon Close box */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 0px;
gap: 10px;

display: none;
width: 24px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Icon Enter box */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 0px;
gap: 10px;

width: 24px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Icon/Enter */

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Tip */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

display: none;
width: 312px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Input */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

width: 344px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* .Source/Input */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 344px;
height: 72px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Label */

width: 344px;
height: 24px;

/* Text 2 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.024px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Input body */

box-sizing: border-box;

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px 8px;
gap: 8px;

width: 344px;
height: 40px;

background: #303033;
border: 1px solid rgba(255, 255, 255, 0.3);

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* left-icon box */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 0px;
gap: 10px;

display: none;
width: 24px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* .Input text */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 0px;
gap: 10px;

width: 296px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Input text content */

width: 75px;
height: 24px;

/* Text 2 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */
letter-spacing: 0.024px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

color: #FFFFFF;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Icon Close box */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 0px;
gap: 10px;

display: none;
width: 24px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
flex-grow: 0;


/* Icon Enter box */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 8px 0px;
gap: 10px;

width: 24px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 3;
flex-grow: 0;


/* Icon/Enter */

display: none;
width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* Tip */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;

display: none;
width: 312px;
height: 40px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* Frame 6365 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 24px;
gap: 48px;

position: absolute;
width: 816px;
height: 781px;
left: 574px;
top: 940px;

/* Background/Light/White */
background: #FFFFFF;
border-radius: 24px;


/* Most Kotlin developers with less than 1 year of professional experience in Australia can expect the following net salary distribution (excluding any bonuses): */

width: 768px;
height: 156px;

/* Sub2 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 300;
font-size: 29px;
line-height: 39px;
/* or 134% */
font-feature-settings: 'ss20' on;

/* Text&Icon/Light/Black (Hard) */
color: #19191C;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Group 5588 */

width: 453px;
height: 329px;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;


/* Rectangle 53 */

position: absolute;
width: 1px;
height: 293px;
left: 24px;
top: 239px;

/* Ui/Light/Black-T10 */
background: rgba(25, 25, 28, 0.1);


/* Rectangle 55 */

position: absolute;
width: 1px;
height: 293px;
left: 131px;
top: 239px;

/* Ui/Light/Black-T10 */
background: rgba(25, 25, 28, 0.1);


/* Rectangle 69 */

position: absolute;
width: 1px;
height: 293px;
left: 238px;
top: 239px;

/* Ui/Light/Black-T10 */
background: rgba(25, 25, 28, 0.1);


/* Rectangle 70 */

position: absolute;
width: 1px;
height: 293px;
left: 345px;
top: 239px;

/* Ui/Light/Black-T10 */
background: rgba(25, 25, 28, 0.1);


/* Rectangle 56 */

position: absolute;
width: 1px;
height: 293px;
left: 452px;
top: 239px;

/* Ui/Light/Black-T10 */
background: rgba(25, 25, 28, 0.1);


/* Rectangle 54 */

position: absolute;
width: 429px;
height: 1px;
left: 24px;
top: 238px;

/* Ui/Light/Black-T10 */
background: rgba(25, 25, 28, 0.1);


/* Rectangle 57 */

position: absolute;
width: 427px;
height: 1px;
left: 25px;
top: 287px;

/* Ui/Light/Black-T10 */
background: rgba(25, 25, 28, 0.1);


/* Rectangle 58 */

position: absolute;
width: 427px;
height: 1px;
left: 25px;
top: 336px;

/* Ui/Light/Black-T10 */
background: rgba(25, 25, 28, 0.1);


/* Rectangle 59 */

position: absolute;
width: 427px;
height: 1px;
left: 25px;
top: 385px;

/* Ui/Light/Black-T10 */
background: rgba(25, 25, 28, 0.1);


/* Rectangle 60 */

position: absolute;
width: 427px;
height: 1px;
left: 25px;
top: 434px;

/* Ui/Light/Black-T10 */
background: rgba(25, 25, 28, 0.1);


/* Rectangle 61 */

position: absolute;
width: 427px;
height: 1px;
left: 25px;
top: 483px;

/* Ui/Light/Black-T10 */
background: rgba(25, 25, 28, 0.1);


/* Rectangle 62 */

position: absolute;
width: 429px;
height: 1px;
left: 24px;
top: 532px;

/* Ui/Light/Black-T10 */
background: rgba(25, 25, 28, 0.1);


/* 4-7 years */

position: absolute;
height: 20px;
left: 2.94%;
right: 95.1%;
top: calc(50% - 20px/2 + 156.5px);

/* Text 3 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
letter-spacing: 0.0585px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

/* Text&Icon/Light/Black-T70 (Avеrage) */
color: rgba(25, 25, 28, 0.7);



/* 4-7 years */

position: absolute;
height: 20px;
left: 50.49%;
right: 44.49%;
top: calc(50% - 20px/2 + 156.5px);

/* Text 3 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
text-align: right;
letter-spacing: 0.0585px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

/* Text&Icon/Light/Black-T70 (Avеrage) */
color: rgba(25, 25, 28, 0.7);



/* Group 5565 */

position: absolute;
width: 16px;
height: 314px;
left: 461px;
top: 228px;



/* 4-7 years */

position: absolute;
height: 20px;
left: 56.5%;
right: 41.54%;
top: calc(50% - 20px/2 - 54.5px);

/* Text 3 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
letter-spacing: 0.0585px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

/* Text&Icon/Light/Black-T70 (Avеrage) */
color: rgba(25, 25, 28, 0.7);



/* 4-7 years */

position: absolute;
height: 20px;
left: 56.5%;
right: 41.54%;
top: calc(50% - 20px/2 - 5.5px);

/* Text 3 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
letter-spacing: 0.0585px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

/* Text&Icon/Light/Black-T70 (Avеrage) */
color: rgba(25, 25, 28, 0.7);



/* 4-7 years */

position: absolute;
height: 20px;
left: 56.5%;
right: 41.54%;
top: calc(50% - 20px/2 - 152.5px);

/* Text 3 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
letter-spacing: 0.0585px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

/* Text&Icon/Light/Black-T70 (Avеrage) */
color: rgba(25, 25, 28, 0.7);



/* 4-7 years */

position: absolute;
height: 20px;
left: 56.5%;
right: 41.54%;
top: calc(50% - 20px/2 - 103.5px);

/* Text 3 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
letter-spacing: 0.0585px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

/* Text&Icon/Light/Black-T70 (Avеrage) */
color: rgba(25, 25, 28, 0.7);



/* 4-7 years */

position: absolute;
height: 20px;
left: 56.5%;
right: 41.54%;
top: calc(50% - 20px/2 + 43.5px);

/* Text 3 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
letter-spacing: 0.0585px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

/* Text&Icon/Light/Black-T70 (Avеrage) */
color: rgba(25, 25, 28, 0.7);



/* 4-7 years */

position: absolute;
height: 20px;
left: 56.5%;
right: 41.54%;
top: calc(50% - 20px/2 + 92.5px);

/* Text 3 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
letter-spacing: 0.0585px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

/* Text&Icon/Light/Black-T70 (Avеrage) */
color: rgba(25, 25, 28, 0.7);



/* 4-7 years */

position: absolute;
height: 20px;
left: 56.5%;
right: 41.54%;
top: calc(50% - 20px/2 + 141.5px);

/* Text 3 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
letter-spacing: 0.0585px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

/* Text&Icon/Light/Black-T70 (Avеrage) */
color: rgba(25, 25, 28, 0.7);



/* 4-7 years */

position: absolute;
height: 20px;
left: 13.97%;
right: 81.99%;
top: calc(50% - 20px/2 + 156.5px);

/* Text 3 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
text-align: center;
letter-spacing: 0.0585px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

/* Text&Icon/Light/Black-T70 (Avеrage) */
color: rgba(25, 25, 28, 0.7);



/* 4-7 years */

position: absolute;
height: 20px;
left: 27.21%;
right: 68.75%;
top: calc(50% - 20px/2 + 156.5px);

/* Text 3 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
text-align: center;
letter-spacing: 0.0585px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

/* Text&Icon/Light/Black-T70 (Avеrage) */
color: rgba(25, 25, 28, 0.7);



/* 4-7 years */

position: absolute;
height: 20px;
left: 40.44%;
right: 55.51%;
top: calc(50% - 20px/2 + 156.5px);

/* Text 3 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 13px;
line-height: 20px;
/* identical to box height, or 154% */
text-align: center;
letter-spacing: 0.0585px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

/* Text&Icon/Light/Black-T70 (Avеrage) */
color: rgba(25, 25, 28, 0.7);



/* Group 7151 */

position: absolute;
width: 221px;
height: 11px;
left: 112px;
top: 233px;



/* PHP */

position: absolute;
width: 210px;
height: 0px;
left: 117.5px;
top: 238.5px;

border: 1.6px solid #6B57FF;


/* Ellipse 179 */

position: absolute;
width: 11px;
height: 11px;
left: 120px;
top: 233px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 180 */

position: absolute;
width: 11px;
height: 11px;
left: 322px;
top: 233px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 181 */

position: absolute;
width: 11px;
height: 11px;
left: 112px;
top: 233px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 182 */

position: absolute;
width: 11px;
height: 11px;
left: 191px;
top: 233px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 183 */

position: absolute;
width: 11px;
height: 11px;
left: 286px;
top: 233px;

background: rgba(123, 97, 255, 0.6);


/* Group 7152 */

position: absolute;
width: 221px;
height: 11px;
left: 152px;
top: 282px;



/* PHP */

position: absolute;
width: 210px;
height: 0px;
left: 157.5px;
top: 287.5px;

border: 1.6px solid #6B57FF;


/* Ellipse 179 */

position: absolute;
width: 11px;
height: 11px;
left: 160px;
top: 282px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 180 */

position: absolute;
width: 11px;
height: 11px;
left: 362px;
top: 282px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 181 */

position: absolute;
width: 11px;
height: 11px;
left: 152px;
top: 282px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 182 */

position: absolute;
width: 11px;
height: 11px;
left: 231px;
top: 282px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 183 */

position: absolute;
width: 11px;
height: 11px;
left: 326px;
top: 282px;

background: rgba(123, 97, 255, 0.6);


/* Group 7153 */

position: absolute;
width: 221px;
height: 11px;
left: 192px;
top: 331px;



/* PHP */

position: absolute;
width: 210px;
height: 0px;
left: 197.5px;
top: 336.5px;

border: 1.6px solid #6B57FF;


/* Ellipse 179 */

position: absolute;
width: 11px;
height: 11px;
left: 200px;
top: 331px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 180 */

position: absolute;
width: 11px;
height: 11px;
left: 402px;
top: 331px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 181 */

position: absolute;
width: 11px;
height: 11px;
left: 192px;
top: 331px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 182 */

position: absolute;
width: 11px;
height: 11px;
left: 271px;
top: 331px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 183 */

position: absolute;
width: 11px;
height: 11px;
left: 366px;
top: 331px;

background: rgba(123, 97, 255, 0.6);


/* Group 7154 */

position: absolute;
width: 221px;
height: 11px;
left: 232px;
top: 380px;



/* PHP */

position: absolute;
width: 210px;
height: 0px;
left: 237.5px;
top: 385.5px;

border: 1.6px solid #6B57FF;


/* Ellipse 179 */

position: absolute;
width: 11px;
height: 11px;
left: 240px;
top: 380px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 180 */

position: absolute;
width: 11px;
height: 11px;
left: 442px;
top: 380px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 181 */

position: absolute;
width: 11px;
height: 11px;
left: 232px;
top: 380px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 182 */

position: absolute;
width: 11px;
height: 11px;
left: 311px;
top: 380px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 183 */

position: absolute;
width: 11px;
height: 11px;
left: 406px;
top: 380px;

background: rgba(123, 97, 255, 0.6);


/* Group 7155 */

position: absolute;
width: 221px;
height: 11px;
left: 80px;
top: 429px;



/* PHP */

position: absolute;
width: 210px;
height: 0px;
left: 85.5px;
top: 434.5px;

border: 1.6px solid #6B57FF;


/* Ellipse 179 */

position: absolute;
width: 11px;
height: 11px;
left: 88px;
top: 429px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 180 */

position: absolute;
width: 11px;
height: 11px;
left: 290px;
top: 429px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 181 */

position: absolute;
width: 11px;
height: 11px;
left: 80px;
top: 429px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 182 */

position: absolute;
width: 11px;
height: 11px;
left: 159px;
top: 429px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 183 */

position: absolute;
width: 11px;
height: 11px;
left: 254px;
top: 429px;

background: rgba(123, 97, 255, 0.6);


/* Group 7156 */

position: absolute;
width: 221px;
height: 11px;
left: 120px;
top: 478px;



/* PHP */

position: absolute;
width: 210px;
height: 0px;
left: 125.5px;
top: 483.5px;

border: 1.6px solid #6B57FF;


/* Ellipse 179 */

position: absolute;
width: 11px;
height: 11px;
left: 128px;
top: 478px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 180 */

position: absolute;
width: 11px;
height: 11px;
left: 330px;
top: 478px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 181 */

position: absolute;
width: 11px;
height: 11px;
left: 120px;
top: 478px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 182 */

position: absolute;
width: 11px;
height: 11px;
left: 199px;
top: 478px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 183 */

position: absolute;
width: 11px;
height: 11px;
left: 294px;
top: 478px;

background: rgba(123, 97, 255, 0.6);


/* Group 7157 */

position: absolute;
width: 221px;
height: 11px;
left: 49px;
top: 527px;



/* PHP */

position: absolute;
width: 210px;
height: 0px;
left: 54.5px;
top: 532.5px;

border: 1.6px solid #6B57FF;


/* Ellipse 179 */

position: absolute;
width: 11px;
height: 11px;
left: 57px;
top: 527px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 180 */

position: absolute;
width: 11px;
height: 11px;
left: 259px;
top: 527px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 181 */

position: absolute;
width: 11px;
height: 11px;
left: 49px;
top: 527px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 182 */

position: absolute;
width: 11px;
height: 11px;
left: 128px;
top: 527px;

background: rgba(123, 97, 255, 0.6);


/* Ellipse 183 */

position: absolute;
width: 11px;
height: 11px;
left: 223px;
top: 527px;

background: rgba(123, 97, 255, 0.6);


/* Frame 7227 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 0px;
gap: 24px;

width: 768px;
height: 152px;


/* Inside auto layout */
flex: none;
order: 2;
align-self: stretch;
flex-grow: 0;


/* The graph shows salary distribution among users of the selected technology in the specified region, based on responses from Developer Ecosystem Survey 2024. */

width: 768px;
height: 48px;

/* Text 2 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.024px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

color: #19191C;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Frame 167 */

/* Auto layout */
display: flex;
flex-direction: column;
align-items: flex-start;
padding: 16px;
gap: 8px;

width: 768px;
height: 80px;

/* Ui/Light/Black-T5 */
background: rgba(25, 25, 28, 0.05);
border-radius: 8px;

/* Inside auto layout */
flex: none;
order: 1;
align-self: stretch;
flex-grow: 0;


/* Frame 162 */

/* Auto layout */
display: flex;
flex-direction: row;
align-items: flex-start;
padding: 0px;
gap: 8px;

width: 736px;
height: 48px;


/* Inside auto layout */
flex: none;
order: 0;
align-self: stretch;
flex-grow: 0;


/* Icon/Info */

width: 24px;
height: 24px;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;


/* vector */

position: absolute;
left: 12.5%;
right: 12.5%;
top: 12.5%;
bottom: 12.5%;

background: #19191C;


/* Note: Experience levels refer to total years of professional coding, not years using the selected technology. */

width: 704px;
height: 48px;

/* Text 2 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 24px;
/* or 150% */
letter-spacing: 0.024px;
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

/* Text&Icon/Light/Black (Hard) */
color: #19191C;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 1;


/* Each year, our extensive surveys reach out to over 30,000 developers across over 180 countries, representing a diverse range of specialties. With data collected over multiple years, we are able to present a comprehensive analysis of tech trends using the methodology described here. */

position: absolute;
width: 604px;
height: 140px;
left: 150px;
top: 336px;

/* Text 1 */
font-family: 'JetBrains Sans';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* or 140% */
font-feature-settings: 'tnum' on, 'lnum' on, 'ss20' on;

/* Text&Icon/Dark/White (Hard) */
color: #FFFFFF;

