---
import "../styles/global.css";
import ColumnContainer from "../components/ColumnContainer.astro";
import Header from "../components/Header.astro";
import SurveyCTA from "../components/SurveyCTA.astro";
import SurveyDescription from "../components/SurveyDescription.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Salary Calculator</title>
	</head>
	<body class="body">
		<Header />
		<SurveyDescription />
		<SurveyCTA />
		<ColumnContainer>
		<div>Content for first column (1fr)</div>
  <div>Content for second column (2fr)</div>
		</ColumnContainer>
	</body>
</html>

<style>
	.body {
		width: 1584px;
		max-width: 1584px;
		margin: auto;
		background-color: #000000;
		color: #ffffff;
		background-image: url('/spiral.svg');
		background-repeat: no-repeat;
		background-position: 55% 0%;
	}
</style>