---
import "../styles/global.css";
import Title from "../components/Title.astro";
import Description from "../components/Description.astro";
import CallToAction from "../components/CallToAction.astro";
import StepCards from "../components/StepCards.astro";
import InfoCards from "../components/InfoCards.astro";
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>IT Salary Calculator</title>
	</head>
	<body class="body">
		<div class="content-container">
			<Title />
			<Description />
			<CallToAction />
			<StepCards />
			<InfoCards />
		</div>
	</body>
</html>

<style>
	.body {
		width: 1584px;
		max-width: 1584px;
		margin: auto;
		background-color: #000000;
		color: #ffffff;
		background-image: url('/spiral.svg');
		background-repeat: no-repeat;
		background-position: 55% 0%;
	}

	.content-container {
		padding: 2rem;
	}
</style>
