<p class="text-cta">Use our calculator to estimate your income potential based on software developer skills, programming language, location, and experience.</p>

<style>
  .text-cta {
    font-size: 2rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: white;
  }
</style>