<p class="text-description">Each year, our extensive surveys reach out to over 30,000 developers across over 180 countries, representing a diverse range of specialties. With data collected over multiple years, we are able to present a comprehensive analysis of tech trends using the methodology described here.</p>

<style>
  .text-description {
    font-size: 1.5rem;
    line-height: 1.5;
    margin-bottom: 1rem;
    color: white;
    width: 50%;
  }
</style>
